<div class="container">

  <!-- Local variable: loginForm 
        -assigning it the value of ngForm => NgForm is a directive instance that governs the form as a whole
    -->
  <!-- ngSubmit event binding  -->

  <form (ngSubmit)="onSubmit()" #loginForm="ngForm" class="form">
    <label for="username">
      Username:
      <input [(ngModel)]="user.username" type="text" name="username" id="username" placeholder="Please enter username"
        class="input" />
    </label>

    <label for="password">
      Password:
      <input [(ngModel)]="user.password" type="password" name="password" id="password"
        placeholder="Please enter password" class="input" />
    </label>

    <!-- If form not valid then it wont submit 
        -> using the local variable loginForm as it governs whole form
    -->
    <button type="submit" class="button" [disabled]="!loginForm.form.valid" >Log In</button>
  </form>
</div>
